.container {
  padding: 8px;
}

.mainContainer > * {
  display: inline-block;
  vertical-align: middle;
  min-height: 110px;
}

.fee {
  cursor: pointer;
}

.fee img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.isConfirmed {
  color: green;
}

.isRejected {
  color: red;
}
