.home {
  font-family: 'Roboto', sans-serif;
  background: rgb(34, 34, 40);
  height: 100%;
}
.loading {
  text-align: center;
  margin-top: 25vh;
}
.error {
  margin-top: 15vh;
  text-align: center;
}
.error h1 {
  color: #F44336;
}
.alert {
  border-radius: 3px;
  padding: 10px;
  background: #FFF59D;
  color: #F9A825;
  border: 1px solid #FFEB3B;
  max-width: 80vw;
  margin: 1em auto;
}

.alert svg {
  fill: #F9A825 !important;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
}
.home a {
  text-decoration: none;
}
