html {
  padding-top: 55px !important;
  background: #fff;
}

.header {
  float: left;
  opacity: 0.5;
  margin-left: 30px;
  margin-top: 20px;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3cbc8;
  background: #dfd6d3;
  box-shadow: 0 -3px 2px -3px rgba(119, 102, 102, 0.75);
  z-index: -1;
}
