.confirmForm {
  margin-top: -40px;
}


.confirmButton {
  display: block !important;
  margin-bottom: 10px;
}

/* the link that opens the rejection form */
.reject {
  opacity: .7;
}

.reject a {
  cursor: pointer;
  color: #00e;
  opacity: .7;
}

/* the rejection button itself, once .reject has been pressed */
.rejectButton {
  display: block !important;
  margin-bottom: 5px;
}

.rejectText {
  margin-bottom: 10px;
}

.closeRejectText {
  cursor: pointer;
  display: block;
  color: #00e;
  opacity: .7;
}
