.removeIcon {
  float: right;
  color: #bbb;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}
div:hover > .removeIcon {
  opacity: 1.0;
}

.header {
  margin: 0;
}

.input {
  width: 100%;
}

.callWrapper {
  position: relative;
}

.call {
  cursor: pointer;
  border-bottom: 2px solid #CCC6C6;
  margin-bottom: 18.4px;  
  background: #f5f4f2;
}

.callWrapper:hover .call { opacity: .3 }
.callWrapper:hover .prevCallsToolbar { opacity: 1 }

.call:first-child {
  border-color: #6691C2;
}

.call pre {
  margin: 0;
}
.call pre:nth-child(3) {
  padding-top: 0;
  color: #bbb;
}

.callNo {
  float: right;
  color: #ccc;
}

.history {
  margin-top: calc(1em + 18.4px);
  padding-top: 0;
  overflow: auto;
  max-height: 60vh;
}

h3 + label > input {
  margin-top: 0;
}

.response {
  white-space: nowrap;
  overflow-x: auto;
}

.prevCallsToolbar {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.prevCallsToolbar a {
  padding: 10px;
  background: gray;
  color: #fff;
}