
.header {
  margin: 0;
}

.input {
  width: 100%;
}

h3 + label > input {
  margin-top: 0;
}

.jsonEditor {
  width: 100%;
  height: 200px;
}

.jsonEditorError {
  border: 1px solid red !important;
}

.jsonToggle {
  width: auto !important;
  float: right;
}

.jsonEditorErrorMsg {
  color: red;
}
