.toastrContainer {
  position: absolute;
  top: 81px;
  right: 10px;
  width: 200px;
}

.toast {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  animation: fadein .5s;
}

.error {
  background: red !important;
  color: #fff !important;
}

.succes {
  background: green !important;
  color: #fff !important;
}

.remove {
  float: right;
}

.error .remove,
.success .remove {
  color: #fff !important;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

