.container {
  padding: 20px;
}

.mainContainer > * {
  display: inline-block;
  vertical-align: middle;
  min-height: 110px;
}

.bottomContainer {
  display: inline-block;
  min-width: 180px;
  color: rgba(0, 0, 0, .3);
  font-size: .8em;
}

.bottomContainer > * {
  float: left;
  margin-right: 3px;
}

.transaction {
  margin-right: 30px;
}

.transaction > * {
  display: inline-block;
}

.from img, .to img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.from span, .to span {
  display: block;
}

.tx {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: -20px;
}

.inputs {
  margin-right: 30px;
  margin-left: 30px;
  width: 180px;
  position: relative;
  top: -15px; /* due to material ui weird styling */
}

.total {
  font-size: 0.6em;
  opacity: .5;
}

.confirmButton {
  margin-bottom: 10px;
  display: block !important;
}

.confirmForm {
  margin-top: -40px;
}

/* the link that opens the rejection form */
.reject {
  opacity: .7;
}

.reject a {
  cursor: pointer;
  color: #00e;
  opacity: .7;
}

/* the rejection button itself, once .reject has been pressed */
.rejectButton {
  display: block !important;
  margin-bottom: 5px;
}

.rejectText {
  margin-bottom: 10px;
}

.closeRejectText {
  cursor: pointer;
  display: block;
  color: #00e;
  opacity: .7;
}

.spinner {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.spinner img {
  max-width: 100%;
}

.miningTime svg {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  bottom: -3px;
}

.data svg {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  bottom: -3px;
}

.fee {
  background: url('../assets/pickaxe.png');
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.feeSlider {
  float: none;
  clear: both;
  margin-top: 35px;
  margin-bottom: 20px;
}

.confirmForm {
  margin-top: -40px;
}