.container {
  display: inline-block;
}

.transaction > * {
  display: inline-block;
}

.from img, .to img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.from span, .to span {
  display: block;
}

.tx {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 25px;
}

.actions {
  margin-top: 10px;
  text-align: center;
}

.actions > a {
  width: 120px;
  margin: 0 5px;
}

.rejectButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.rejectButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
}
.rejectButton:active {
  position:relative;
  top:1px;
}

.confirmButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79ed13), color-stop(1, #5cb811));
  background:-moz-linear-gradient(top, #79ed13 5%, #5cb811 100%);
  background:-webkit-linear-gradient(top, #79ed13 5%, #5cb811 100%);
  background:-o-linear-gradient(top, #79ed13 5%, #5cb811 100%);
  background:-ms-linear-gradient(top, #79ed13 5%, #5cb811 100%);
  background:linear-gradient(to bottom, #79ed13 5%, #5cb811 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79ed13', endColorstr='#5cb811',GradientType=0);
  background-color:#79ed13;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}
.confirmButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #79ed13));
  background:-moz-linear-gradient(top, #5cb811 5%, #79ed13 100%);
  background:-webkit-linear-gradient(top, #5cb811 5%, #79ed13 100%);
  background:-o-linear-gradient(top, #5cb811 5%, #79ed13 100%);
  background:-ms-linear-gradient(top, #5cb811 5%, #79ed13 100%);
  background:linear-gradient(to bottom, #5cb811 5%, #79ed13 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#79ed13',GradientType=0);
  background-color:#5cb811;
}
.confirmButton:active {
  position:relative;
  top:1px;
}
