.link {
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
}
.link a, .link a:visited {
  text-decoration: none;
  color: #2196F3;
  white-space: nowrap;
}
.link a:hover, .link a:active {
  text-decoration: underline;
  color: #2C78B5;
}
