.container {
  padding: 25px;
}

.mainContainer > * {
  display: inline-block;
  vertical-align: middle;
  min-height: 110px;
}

.iconsContainer {
  display: inline-block;
  min-width: 180px;
  color: rgba(0, 0, 0, .3);
  font-size: .8em;
}

.iconsContainer > * {
  float: left;
  margin-right: 3px;
}

.iconsContainer:after {
  clear: both;
}

.inputs {
  margin-right: 30px;
  margin-left: 30px;
  width: 180px;
  position: relative;
  top: -15px; /* due to material ui weird styling */
}

.hasInfoIcon svg {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  bottom: -3px;
}

.miningTime {
  composes: hasInfoIcon;
}

.data  {
  composes: hasInfoIcon;
  cursor: pointer;
}

.gasPrice {
  composes: hasInfoIcon;
  cursor: pointer;
}

.dataTooltip {
  word-wrap: break-word;
  max-width: 400px;
}

.expandedData {
  display: block;
  padding: 15px;
  background: gray;
  word-wrap: break-word;
  color: #fff;
}

.expandedContainer {
  padding: 10px;
  border-radius: 4px;
}
