.container {
  margin-left: 7px;
  position: relative;
}

.searchContainer {
  margin-top: -13px;
  float: left;
  transition: width 0.5s;
  width: 0px;
}

.searchContainer.isActive {
  margin-left: 7px;
  margin-right: 7px;
  width: 256px;
}

.searchIcon {
  cursor: pointer;
}